mysql-connector-python
pandas

SELECT 
    e.id AS ID,
    e.nombre AS NOMBRE,
    e.rut AS RUT,
    d.nombre AS DEPARTAMENTO,
    p.nombre_proyecto AS PROYECTO,
    rt.fecha AS "FECHA REGISTRO",
    rt.horas AS "HORAS TRABAJADAS",
    rt.descripcion AS "DESCRIPCIÓN"
FROM 
    empleado e
LEFT JOIN 
    departamento d ON e.departamento_id = d.id
LEFT JOIN 
    registro_tiempo rt ON e.id = rt.empleado_id
LEFT JOIN 
    proyecto p ON rt.proyecto_id = p.proyecto_id;